<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @quiz.question %>
</p>

<p>
  <strong>Ans1:</strong>
  <%= @quiz.ans1 %>
</p>

<p>
  <strong>Ans2:</strong>
  <%= @quiz.ans2 %>
</p>

<p>
  <strong>Ans3:</strong>
  <%= @quiz.ans3 %>
</p>

<p>
  <strong>Ans4:</strong>
  <%= @quiz.ans4 %>
</p>

<p>
  <strong>Correctans:</strong>
  <%= @quiz.correctAns %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
